@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Jost:wght@100..900&display=swap');

$Main-font: 'Aladin', system-ui;
$Second-font: 'Jost', sans-serif;

////// Aladin pesos
// Regular = 400

/////// Jost pesos de 100 a 900
// Light = 300
// Regular = 400
// Medium = 500
// SemiBold = 600
// Bold = 700

$Azul: #0C1E8E;
$Roxo: #7364CB;
$Amarelo: #F6D66F;
$Laranja: #E4754A;
$Creme: #EEE8DC;