@import '../../css/colors_fonts';
@import '../../css/base';

body {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    background: $Creme;
    overflow-x: hidden;
    position: relative;
    header{
        position: fixed;
        left: 0;
        width: 100%;
        height: 125px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        opacity: 0;
        transform: translateY(-125px);
        transition: 0.75s ease-in-out all;
        .menu{
            width: 90%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                height: 90%;
                display: flex;
                align-items: center;
                margin: 0 0.35vw;
                a{
                    padding: 0.75vh 0.5vw;
                    font-family: $Second-font;
                    font-weight: 500;
                    font-size: 1.1vw;
                    color: $Azul;
                    transition: ease-in-out 0.25s all;
                    &:hover{
                        color: $Laranja;
                        transform: scale(1.15);
                    }
                }
                &:first-child{
                    margin: 0;
                    margin-right: auto;
                    width: 13vw;
                    a{
                        all: unset;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        h1{
                            font-family: $Main-font;
                            font-size: 2.5vw;
                            line-height: 3.75vh;
                            color: $Laranja;
                            &:hover{
                                color: $Azul;
                            }
                        }
                    }
                }
                &:last-child{
                    margin: 0;
                    margin-left: 6vw;
                    a{
                        all: unset;
                        margin-right: -0.6vw;
                        display: flex;
                        align-items: center;
                        background-color: $Roxo;
                        height: 35%;
                        padding: 0 3.25vw 0 1vw;
                        border-radius: 2vw;
                        font-family: $Second-font;
                        font-weight: 700;
                        font-size: 1.15vw;
                        color: $Creme;
                        position: relative;
                        transition: ease-in-out 0.25s all;
                        img, svg{
                            right: 0.75vw;
                            top: 5%;
                            position: absolute;
                            height: 90%;
                            width: 1.35vw;
                        }
                        &:hover{
                            transform: scale(1.05);
                        }
                    }
                }
            }
            &::before{
                content: '';
                transition: ease-in-out 0.25s all;
            }
        }
        .color{
            &::before{
                content: '';
                position: absolute;
                width: 111%;
                height: 100%;
                left: -6%;
                top: 0;
                background: $Roxo !important;
                z-index: -1;
                transition: ease-in-out 0.25s all;
            }
            li{
                a{ color: $Creme; transition: ease-in-out 0.25s all;}
                &:first-child{ a{ h1{ color: $Creme; transition: ease-in-out 0.25s all; } } }
                &:last-child{ a{ background-color: $Laranja; transition: ease-in-out 0.25s all; } }
            }
        }
    }
    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        overflow-x: hidden;
        position: relative;
        section{
            width: 90%;
            height: 100vh;
        }
        #home{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 125px;
            #bg_home{
                position: absolute;
                width: 111%;
                height: 100%;
                z-index: -1;
                top: 0;
                left: -6%;
            }
            .imgsBlock{
                width: 32%;
                height: 100%;
                position: relative;
                opacity: 0;
                transform: translateX(-35vw);
                transition: 1s ease-in-out all;
                img{
                    width: 100%;
                    height: 100%;
                    padding: 7.5vh 0;
                    object-fit: contain;
                }
                svg{
                    position: absolute;
                    width: 100%;
                    height: auto;
                    bottom: 2vh;
                    left: 0;
                }
            }
            .infosBlock{
                width: 68%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                opacity: 0;
                transform: translateX(55vw);
                transition: 1.25s ease-in-out all;
                h2{
                    height: 15%;
                    width: 100%;
                    text-align: right;
                    padding-left: 10vw;
                    font-family: $Second-font;
                    font-size: 2.15vw;
                    color: $Azul;
                    font-weight: 700;
                    margin-bottom: 8vh;
                    line-height: 7vh;
                }
                p{
                    padding-left: 20vw;
                    height: 25%;
                    width: 100%;
                    text-align: right;
                    font-family: $Second-font;
                    font-size: 1.15vw;
                    color: $Azul;
                    font-weight: 400;
                    line-height: 5vh;
                    margin-bottom: 5vh;
                }
                .btns{
                    height: 7%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: right;
                    a{
                        all: unset;
                        width: 12.5vw;
                        height: 70%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: $Second-font;
                        font-weight: 700;
                        font-size: 1.1vw;
                        color: $Creme;
                        background-color: $Roxo;
                        border-radius: 5vw;
                        transition: ease-in-out 0.25s all;
                        &:first-child{
                            background-color: $Laranja;
                            margin-right: 2vw;
                        }
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
        #servicos{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2{
                width: 100%;
                height: 10%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                font-family: $Main-font;
                font-size: 3vw;
                color: $Azul;
                padding-bottom: 1vh;
                animation: appear-left 1ms ease-in-out;
                animation-timeline: view();
                animation-range: cover 0% cover 40%;
            }
            h3{
                width: 100%;
                height: 15%;
                padding: 2vh 15vw 0 15vw;
                font-family: $Second-font;
                font-weight: 400;
                font-size: 1.2vw;
                color: $Azul;
                text-align: center;
                line-height: 3vh;
            }
            .cardBlock{
                width: 100%;
                height: 75%;
                perspective: 1000px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .flip-card {
                    width: 25%;
                    height: 42%;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: all ease-in-out 0.75s;
                    margin: 1.5vw;
                    &:hover, &:focus-within{
                        transform: rotateY(180deg);
                    }
                    .card-front, .card-back {
                        width: 100%;
                        height: 82%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: $Roxo;
                        backface-visibility: hidden;
                        border-radius: 1vw;
                    }
                    .card-front {
                        z-index: 3;
                        transform: rotateY(0deg);
                        img,svg{
                            position: absolute;
                            top: -7%;
                            width: 4.25vw;
                            height: auto;
                            z-index: 3;
                            path{ fill: $Laranja; }
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            width: 7.5vw;
                            height: 7.5vw;
                            border-radius: 50%;
                            border: 3px solid $Laranja;
                            background-color: $Creme;
                            top: -20%;
                            z-index: -1;
                        }
                        h4{
                            width: 100%;
                            height: 100%;
                            padding: 2vw;
                            padding-top: 12vh;
                            text-align: center;
                            font-family: $Second-font;
                            font-size: 1.5vw;
                            font-weight: 700;
                            color: $Creme;
                        }
                    }
                    .card-back {
                        z-index: 2;
                        transform: rotateY(180deg);
                        p{
                            width: 100%;
                            height: 100%;
                            padding: 2vw;
                            text-align: center;
                            font-family: $Second-font;
                            font-size: 1vw;
                            font-weight: 400;
                            color: $Creme;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            z-index: 999;
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            width: 7.5vw;
                            height: 7.5vw;
                            border-radius: 50%;
                            border: 3px solid $Laranja;
                            background-color: $Creme;
                            top: -20%;
                            z-index: 1;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            background-color: $Roxo;
                            border-radius: 1vw;
                            z-index: 2;
                        }
                    }
                    &:nth-child(2), &:nth-child(5){
                        margin-top: -8vh;
                    }
                }
            }
        }
        #sobre{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .infosBlock{
                width: 68%;
                display: flex;
                flex-direction: column;
                h2{
                    font-family: $Main-font;
                    font-size: 3.5vw;
                    color: $Azul;
                }
                p{
                    font-family: $Second-font;
                    font-size: 1.1vw;
                    color: $Azul;
                    font-weight: 400;
                    padding: 2.5vh 14vw 2.5vh 0;
                    line-height: 4vh;
                }
                h3{
                    font-family: $Second-font;
                    font-size: 1.25vw;
                    color: $Azul;
                    font-weight: 600;
                }
                ul{
                    li{
                        list-style: disc;
                        font-family: $Second-font;
                        font-size: 0.9vw;
                        font-weight: 400;
                        color: $Azul;
                        margin: 1vh 0;
                        margin-left: 2vw;
                    }
                }
                .btn{
                    all: unset;
                    display: flex;
                    align-items: center;
                    width: 10.5vw;
                    margin-left: auto;
                    margin-right: 10vw;
                    border-radius: 2vw;
                    padding: 0.75vh 1.25vw;
                    background-color: $Laranja;
                    font-family: $Second-font;
                    font-weight: 700;
                    font-size: 1vw;
                    color: $Creme;
                    position: relative;
                    transition: ease-in-out 0.25s all;
                    img, svg{
                        right: 0.75vw;
                        top: 5%;
                        position: absolute;
                        height: 90%;
                        width: 1.35vw;
                    }
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
            .imgsBlock{
                width: 32%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                img{
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
                svg{
                    width: 125%;
                    height: auto;
                    position: absolute;
                    bottom: 15%;
                    left: -12.5%;
                }
            }
        }
        #beneficios{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding-top: 5vh;
            #bg_beneficios{
                position: absolute;
                width: 111%;
                height: 100%;
                z-index: -1;
                top: 0;
                left: -6%;
            }
            h2{
                width: 100%;
                height: 10%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                font-family: $Main-font;
                font-size: 3vw;
                color: $Azul;
                padding-bottom: 1vh;
            }
            span{
                width: 100%;
                height: 14%;
                padding: 2vh 15vw 0 15vw;
                font-family: $Second-font;
                font-weight: 400;
                font-size: 1.2vw;
                color: $Azul;
                text-align: center;
                line-height: 3vh;
            }
            .splide{
                width: 100%;
                height: 63%;
                .splide__arrows {
                    .splide__arrow {
                        border-radius: 0;
                        width: 3.25vw;
                        height: 10vh;
                        background: none;
                        svg{
                            width: 100%;
                            height: 100%;
                            fill: $Laranja;
                        }
                    }
                    .splide__arrow--prev{ left: 0; }
                    .splide__arrow--next{ right: 0; }
                }
                .splide__track{
                    left: 5%;
                    width: 90%;
                    height: 100%;
                    .splide__list{
                        .splide__slide{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .cardBlock{
                                margin: 0 5%;
                                width: 90%;
                                height: 100%;
                                background-color: $Roxo;
                                border-radius: 2vw;
                                overflow: hidden;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                img{
                                    width: 100%;
                                    height: auto;
                                    object-fit: cover;
                                }
                                h3{
                                    width: 100%;
                                    text-align: center;
                                    font-family: $Second-font;
                                    font-weight: 700;
                                    font-size: 1.65vw;
                                    color: $Creme;
                                    margin-top: 2vh;
                                    padding: 0 3vw;
                                }
                                svg{
                                    width: 100%;
                                    margin: 1vh 0;
                                    padding: 2.5vh 0;
                                }
                                p{
                                    width: 100%;
                                    text-align: center;
                                    font-family: $Second-font;
                                    font-size: 1.1vw;
                                    font-weight: 300;
                                    color: $Creme;
                                    padding: 0 3.5vw;
                                    margin-top: 1vh;
                                }
                            }
                        }
                    }
                }
                .splide__pagination{
                    display: none;
                }
            }
        }
        #sessoes{
            position: relative;
            padding-top: 13vh;
            display: flex;
            flex-direction: column;
            .divisor{
                position: absolute;
                width: 111%;
                height: auto;
                z-index: -1;
                top: 0;
                left: -6%;
            }
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: -6%;
                width: 111%;
                height:82%;
                background-color: $Roxo;
                z-index: -1;
            }
            h2{
                font-family: $Main-font;
                font-size: 3.5vw;
                color: $Creme;
            }
            p{
                font-family: $Second-font;
                font-size: 1.15vw;
                color: $Creme;
                font-weight: 300;
                padding: 4vh 20vw 4vh 0;
                line-height: 4vh;
            }
            ul{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                padding-left: 2vw;
                li{
                    list-style: decimal;
                    width: 21%;
                    height: auto;
                    margin: 5vh 2.5vw;
                    font-family: $Second-font;
                    font-weight: 700;
                    font-size: 1.15vw;
                    color: $Creme;
                    position: relative;
                    padding-left: 0.5vw;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 2.1vw;
                        height: 2.1vw;
                        top: -0.4vh;
                        left: -2vw;
                        border: 2px solid $Creme;
                        border-radius: 50%;
                    }
                    &:nth-child(1), &:nth-child(4), &:nth-child(7){
                        margin-left: 0;
                    }
                }
            }
            .btn{
                all: unset;
                display: flex;
                align-items: center;
                width: 16vw;
                border-radius: 2vw;
                padding: 0.75vh 1.25vw;
                background-color: $Laranja;
                font-family: $Second-font;
                font-weight: 700;
                font-size: 1vw;
                color: $Creme;
                position: relative;
                transition: ease-in-out 0.25s all;
                margin: 3vh 12vw 0 auto;
                img, svg{
                    right: 0.75vw;
                    top: 5%;
                    position: absolute;
                    height: 90%;
                    width: 1.35vw;
                }
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        #faq{
            position: relative;
            padding-top: 25vh;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            height: auto;
            padding-bottom: 5vh;
            .divisor{
                position: absolute;
                width: 111%;
                height: auto;
                z-index: -1;
                top: 0;
                left: -6%;
                transform: rotate(180deg);
            }
            h2{
                width: 100%;
                height: 10%;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                font-family: $Main-font;
                font-size: 3vw;
                color: $Azul;
                padding-bottom: 1vh;
            }
            .accordion{
                height: 100%;
                padding: 5vh 7.5vw 0;
                .accordion-item{
                    all: unset;
                    h3{
                        background-color: $Roxo;
                        font-family: $Second-font;
                        font-weight: 700;
                        font-size: 1.05vw;
                        color: $Creme;
                        padding: 3vh 2vw;
                        border-top: 2px solid $Creme;
                        border-bottom: 2px solid $Creme;
                        &::after{
                            content: none;
                        }
                        img, svg{
                            width: 1.75vw;
                            height: 50%;
                            margin-left: auto;
                            transform: rotate(180deg);
                            transition: 0.25s ease-in-out all;
                        }
                        &[aria-expanded="true"]{
                            img, svg{
                                transform: rotate(0);
                                transition: 0.25s ease-in-out all;
                            }
                        }
                    }
                    div{
                        background-color: none;
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: $Roxo;
                            opacity: 0.5;
                            z-index: -1;
                        }
                        padding: 2vh 2vw;
                        padding-right: 4vw;
                        font-family: $Second-font;
                        font-weight: 400;
                        font-size: 0.95vw;
                        color: $Azul;
                        line-height: 3vh;
                    }
                    &:first-child{
                        h3{
                            border-top-right-radius: 2vw;
                            border-top-left-radius: 2vw;
                            border-top: 0;
                        }
                    }
                    &:last-child{
                        h3{
                            border-bottom-right-radius: 2vw;
                            border-bottom-left-radius: 2vw;
                            border-bottom: 0;
                        }
                        div{
                            &::before{
                                content: '';
                                position: absolute;
                                top: -30%;
                                left: 0;
                                width: 100%;
                                height: 130%;
                                background-color: $Roxo;
                                opacity: 0.5;
                                z-index: -1;
                                border-bottom-right-radius: 2vw;
                                border-bottom-left-radius: 2vw;
                            }
                        }
                    }
                }
            }
        }
        #agenda{
            height: 50vh;
            display: flex;
            padding: 0 5vw;
            .TitleBlock{
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    font-family: $Main-font;
                    font-size: 4vw;
                    color: $Azul;
                    width: 100%;
                }
                .btn{
                    all: unset;
                    width: 18vw;
                    margin-top: 10vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $Second-font;
                    font-weight: 700;
                    font-size: 1.1vw;
                    color: $Creme;
                    background-color: $Laranja;
                    border-radius: 2vw;
                    padding: 0.5vh 1.25vw;
                    transition: ease-in-out 0.25s all;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            }
            .infosBlock{
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .card{
                    all: unset;
                    width: 85%;
                    height: 20vh;
                    margin: 1.5vh 0;
                    margin-left: 15%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: $Laranja;
                    border-radius: 2vw;
                    h3{
                        width: 100%;
                        font-family: $Second-font;
                        font-weight: 700;
                        font-size: 1.1vw;
                        color: $Creme;
                        padding: 1vh 0;
                        text-align: center;
                    }
                    p{
                        width: 100%;
                        height: 50%;
                        text-align: center;
                        padding: 1vh 5vw;
                        margin:  1vh 0;
                        font-family: $Second-font;
                        font-size: 1vw;
                        font-weight: 300;
                        color: $Creme;
                    }
                }
            }
        }
        #contato{
            padding: 0 4vw 9vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .infosBlock, .formBlock{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .infosBlock{
                h2{
                    width: 100%;
                    padding: 1vh 0;
                    font-family: $Main-font;
                    font-size: 3vw;
                    color: $Azul;
                }
                p{
                    width: 100%;
                    padding: 1vh 0;
                    font-family: $Second-font;
                    font-size: 1vw;
                    font-weight: 400;
                    color: $Azul;
                    margin: 4vh 0 2vh;
                }
                .rede{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 10vh;
                    margin: 2vh 0;
                    img, svg{
                        width: 10%;
                        height: 100%;
                        padding: 1vh 1.5vw 1vh 0;
                        path{
                            fill: $Azul;
                        }
                    }
                    .infos{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 90%;
                        p, span{
                            all: unset;
                            width: 100%;
                            height: 50%;
                            font-family: $Second-font;
                            font-size: 1.05vw;
                            font-weight: 700;
                            color: $Azul;
                        }
                        span{
                            font-size: 0.9vw;
                            font-weight: 500;
                            color: $Laranja;
                            padding-top: 0.25vh;
                        }
                    }
                }
            }
            .formBlock{
                position: relative;
                h3{
                    width: 100%;
                    font-family: $Main-font;
                    font-size: 2.5vw;
                    color: $Azul;
                    text-align: center;
                    padding-bottom: 2vh;
                }
                form{
                    width: 90%;
                    height: 65%;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    background-color: $Roxo;
                    border-radius: 2vw;
                    padding: 2vh 3.5vw;
                    .BlockBox{
                        width: 100%;
                        height: 15%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 1.5vh 0;
                        input, textarea{
                            width: 100% !important;
                            height: 50%;
                            border: none;
                            background: none;
                            outline: none;
                            resize: none;
                            padding: 0 1.25vw;
                            font-family: $Second-font;
                            font-weight: 300;
                            font-size: 0.9vw;
                            color: $Creme;
                            border-bottom: 3px solid $Creme;
                        }
                        p, span{
                            position: absolute;
                            left: 1.25vw;
                            top: 32%;
                            font-family: $Second-font;
                            font-weight: 700;
                            font-size: 1.05vw;
                            color: $Creme;
                            transition: 0.5s;
                            pointer-events: none;
                            display: flex;
                            flex-direction: row;
                        }
                        &:nth-child(1){
                            span{
                                font-size: 1.1vw;
                                left: 9.2vw;
                                top: 32%;
                                color: $Laranja;
                            }
                        }
                        &:nth-child(2){
                            span{
                                font-size: 1.1vw;
                                left: 4.4vw;
                                top: 32%;
                                color: $Laranja;
                            }
                        }
                        &:nth-child(4){
                            height: 25%;
                            input, textarea{
                                height: 75%;
                                padding: 0.75vh 3vw 0.75vh 1.25vw;
                                padding-right: 3vw;
                                line-height: 3vh;
                            }
                            p{
                                top: 20%;
                            }
                        }
                    }
                    .BlockBox input:focus ~ p, input:valid ~ p, input:focus ~ span, input:valid ~ span, textarea:focus ~ p, textarea:valid ~ p{
                        transform:translate(-0.75vw, -3.25vh);
                        font-size: 0.9vw;
                    }
                    .btn{
                        all: unset;
                        width: 12vw;
                        margin-left: auto;
                        margin-right: -2vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: $Second-font;
                        font-weight: 700;
                        font-size: 1.1vw;
                        color: $Creme;
                        background-color: $Laranja;
                        border-radius: 2vw;
                        padding: 0.5vh 1.25vw;
                        transition: ease-in-out 0.25s all;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
                #msg_form{
                    position: absolute;
                    top: 90%;
                    left: 0;
                    width: 100%;
                    height: 9vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $Second-font;
                    font-weight: 700;
                    font-size: 1vw;
                    text-align: center;
                    color: $Azul;
                }
            }
        }
    }
    footer{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 9vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $Roxo;
        p{
            font-family: $Second-font;
            font-weight: 800;
            font-size: 1vw;
            color: $Creme;
        }
        a{
            width: 7.5vw;
            height: 65%;
            margin-left: 0.75vw;
            img, svg{
                width: 100%;
                height: 100%;
                object-fit: contain;
                path{
                    fill: $Creme;
                }
            }
        }
    }
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/
/* MOBILE */
@media only screen and (max-width: 479px){}