@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Jost:wght@100..900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none;
}

::-webkit-scrollbar {
  width: 0.7vw;
  background: #E4754A;
}

::-webkit-scrollbar-thumb {
  background: #7364CB;
  border-radius: 10vw;
}

p, span, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.hide {
  opacity: 0 !important;
  display: none !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background: #EEE8DC;
  overflow-x: hidden;
  position: relative;
}
body header {
  background-color: #7364CB;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: all ease-in-out 0.15s;
  border-bottom: 2px solid #E4754A;
}
body header .menu {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .menu li {
  height: 75%;
  display: flex;
  align-items: center;
  margin-left: 0.5vw;
}
body header .menu li a {
  text-align: right;
  padding-left: 3.5vw;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 1.05vw;
  color: #EEE8DC;
  transition: ease-in-out 0.25s all;
}
body header .menu li a:hover {
  color: #F6D66F;
  transform: scale(1.1);
}
body header .menu li .active {
  color: #F6D66F;
  font-weight: 800;
}
body header .menu li .active:hover {
  color: #E4754A;
  transform: scale(1.1);
}
body header .menu li:first-child {
  margin: 0;
  margin-right: auto;
  width: 11vw;
}
body header .menu li:first-child a {
  all: unset;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}
body header .menu li:first-child a svg, body header .menu li:first-child a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body header .menu li:first-child a svg path, body header .menu li:first-child a img path {
  fill: #EEE8DC;
}
body main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  overflow-x: hidden;
  position: relative;
}
body main section {
  width: 100vw;
  height: 100vh;
  padding: 0 5vw;
  border: none;
  outline: none;
}
body main .divisor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
body main .btns {
  all: unset;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 1vw;
  color: #EEE8DC;
  border-radius: 5vw;
  transition: all ease-in-out 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14vw;
  padding: 0.65vh 0;
}
body main .btns:hover {
  transform: scale(1.1);
}
body main #home {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 125px;
  width: 100%;
  padding: 0;
}
body main #home .splide {
  height: 100%;
  width: 100%;
}
body main #home .splide .splide__track {
  height: 100%;
  width: 100%;
}
body main #home .splide .splide__track .splide__list {
  height: 100%;
  width: 100%;
}
body main #home .splide .splide__track .splide__list .splide__slide {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main #home .splide .splide__track .splide__list .splide__slide img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 125px;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
body main #home .splide .splide__track .splide__list .splide__slide h2 {
  color: #EEE8DC;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 3.25vw;
  padding: 0 15vw;
  text-align: center;
  margin-top: 7vh;
}
body main #home .splide .splide__track .splide__list .splide__slide h3 {
  color: #EEE8DC;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  padding: 0 32vw;
  text-align: center;
  margin: 3vh 0 10vh;
}
body main #home .splide .splide__track .splide__list .splide__slide .btn_home {
  background-color: #E4754A;
}
body main #home .splide .splide__track .splide__list .splide__slide .btn_roxo {
  background-color: #7364CB;
}
body main #home .splide .splide__arrows {
  display: none;
  opacity: 0;
  pointer-events: none;
}
body main #home .splide .splide__pagination li button {
  background-color: #E4754A;
  height: 0.55vw;
  width: 0.55vw;
  margin: 0 0.5vw;
  margin-bottom: 1vh;
  opacity: 0.5;
}
body main #home .splide .splide__pagination li .is-active {
  background-color: #F6D66F;
  transform: scale(1.5);
  opacity: 1;
}
body main #sobre {
  position: relative;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
  background-color: #7364CB;
}
body main #sobre #Block_sobreTxt {
  width: 65%;
  height: 100%;
  padding-right: 7vw;
}
body main #sobre #Block_sobreTxt h2 {
  font-family: "Aladin", system-ui;
  font-size: 3vw;
  color: #EEE8DC;
  letter-spacing: 0.2vw;
  margin: 7vh 0 10vh;
  position: relative;
}
body main #sobre #Block_sobreTxt h2::before {
  content: "";
  position: absolute;
  bottom: -3vh;
  left: 0;
  width: 14vw;
  height: 0.8vh;
  background-color: #F6D66F;
  border-radius: 10vw;
}
body main #sobre #Block_sobreTxt h3 {
  font-family: "Jost", sans-serif;
  font-size: 1.15vw;
  font-weight: 300;
  color: #EEE8DC;
  line-height: 3.5vh;
}
body main #sobre #Block_sobreTxt .btn_sobre {
  margin-top: 8vh;
  background-color: #E4754A;
}
body main #sobre #Block_sobreicons {
  width: 35%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main #sobre #Block_sobreicons #bg_icons {
  position: absolute;
  width: auto;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  opacity: 0.35;
  z-index: 1;
}
body main #sobre #Block_sobreicons .icons {
  width: 50%;
  height: 20%;
  margin: 0.5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
body main #sobre #Block_sobreicons .icons img, body main #sobre #Block_sobreicons .icons svg {
  width: 50%;
  height: 50%;
  padding: 0.6vw;
}
body main #sobre #Block_sobreicons .icons h4 {
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-size: 1.05vw;
  text-align: center;
  color: #EEE8DC;
}
body main #tratamentos {
  height: 50vh;
  width: 100%;
  padding: 0 7.5vw;
  z-index: 10;
  box-shadow: 0 0 3vh rgba(49, 38, 113, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main #tratamentos h2 {
  height: 15%;
  width: 100%;
  text-align: center;
  font-family: "Aladin", system-ui;
  font-size: 3vw;
  color: #0C1E8E;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #tratamentos .splide {
  height: 65%;
  width: 100%;
}
body main #tratamentos .splide .splide__track {
  height: 100%;
  width: 100%;
}
body main #tratamentos .splide .splide__track .splide__list {
  height: 100%;
  width: 100%;
}
body main #tratamentos .splide .splide__track .splide__list .splide__slide {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body main #tratamentos .splide .splide__track .splide__list .splide__slide::before {
  content: "";
  position: absolute;
  width: 7.5vw;
  height: 7.5vw;
  top: 15%;
  background-color: #7364CB;
  z-index: -1;
  border-radius: 50%;
}
body main #tratamentos .splide .splide__track .splide__list .splide__slide img, body main #tratamentos .splide .splide__track .splide__list .splide__slide svg {
  width: 25%;
  height: auto;
  top: 50px;
  left: 0;
}
body main #tratamentos .splide .splide__track .splide__list .splide__slide img path, body main #tratamentos .splide .splide__track .splide__list .splide__slide svg path {
  fill: #EEE8DC;
  stroke: #EEE8DC;
}
body main #tratamentos .splide .splide__track .splide__list .splide__slide h3 {
  color: #0C1E8E;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  font-size: 1.25vw;
  text-align: center;
  margin-top: 5vh;
}
body main #tratamentos .splide .splide__arrows .splide__arrow {
  width: 3.5vw;
  height: 3.5vw;
  background: none;
  opacity: 1;
}
body main #tratamentos .splide .splide__arrows .splide__arrow svg {
  width: 100%;
  height: 100%;
}
body main #tratamentos .splide .splide__arrows .splide__arrow svg path {
  fill: #E4754A;
}
body main #tratamentos .splide .splide__arrows .splide__arrow:disabled {
  opacity: 0.3;
}
body main #tratamentos .splide .splide__arrows .splide__arrow--prev {
  left: -3vw;
}
body main #tratamentos .splide .splide__arrows .splide__arrow--next {
  right: -3vw;
}
body main #tratamentos .splide .splide__pagination {
  display: none;
  opacity: 0;
  pointer-events: none;
}
body main #tratamentos .btn_tratamentos {
  background-color: #E4754A;
}
body main #equipe {
  height: 150vh;
  background-color: #7364CB;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #equipe h2 {
  width: 100%;
  height: 10vh;
  font-family: "Aladin", system-ui;
  font-size: 3vw;
  color: #EEE8DC;
  margin-top: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #equipe h3 {
  width: 100%;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 1vw;
  font-weight: 300;
  color: #EEE8DC;
  padding: 0.5vh 9vw;
}
body main #equipe #block_cardsEquipe {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5vh;
}
body main #equipe #block_cardsEquipe .card_equipe {
  width: 31%;
  height: 30vh;
  margin: 3.5vh 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 4.5vh;
}
body main #equipe #block_cardsEquipe .card_equipe:nth-child(1), body main #equipe #block_cardsEquipe .card_equipe:nth-child(2), body main #equipe #block_cardsEquipe .card_equipe:nth-child(3) {
  margin-top: 0;
}
body main #equipe #block_cardsEquipe .card_equipe:nth-child(7), body main #equipe #block_cardsEquipe .card_equipe:nth-child(8), body main #equipe #block_cardsEquipe .card_equipe:nth-child(9) {
  margin-bottom: 0;
}
body main #equipe #block_cardsEquipe .card_equipe::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 85%;
  width: 100%;
  background-color: #EEE8DC;
  opacity: 0.25;
  border-radius: 2.5vw;
  z-index: 1;
  transition: all ease-in-out 0.2s;
}
body main #equipe #block_cardsEquipe .card_equipe .imgUser {
  z-index: 3;
  position: absolute;
  top: 0;
  width: 7vw;
  height: 7vw;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 5px solid #E4754A;
}
body main #equipe #block_cardsEquipe .card_equipe .doc {
  z-index: 2;
  width: 50%;
  height: 5vh;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #EEE8DC;
  font-size: 0.85vw;
  display: flex;
  align-items: center;
  padding-left: 1.3vw;
  transition: all ease-in-out 0.2s;
}
body main #equipe #block_cardsEquipe .card_equipe .estado {
  z-index: 2;
  width: 50%;
  height: 5vh;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  color: #7364CB;
  font-size: 1vw;
  display: flex;
  align-items: center;
  position: relative;
  transition: all ease-in-out 0.2s;
}
body main #equipe #block_cardsEquipe .card_equipe .estado img, body main #equipe #block_cardsEquipe .card_equipe .estado svg {
  position: absolute;
  right: 0.9vw;
  top: 1.6vh;
  height: 75%;
  z-index: 1;
}
body main #equipe #block_cardsEquipe .card_equipe .estado img path, body main #equipe #block_cardsEquipe .card_equipe .estado svg path {
  transition: all ease-in-out 0.2s;
}
body main #equipe #block_cardsEquipe .card_equipe .estado span {
  width: 100%;
  height: 100%;
  text-align: right;
  display: flex;
  align-items: end;
  justify-content: right;
  padding-right: 1.75vw;
  z-index: 2;
}
body main #equipe #block_cardsEquipe .card_equipe .nome {
  z-index: 2;
  width: 100%;
  height: 10.5vh;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  font-size: 1.5vw;
  color: #EEE8DC;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 2vh;
  transition: all ease-in-out 0.2s;
}
body main #equipe #block_cardsEquipe .card_equipe .abordagem {
  z-index: 2;
  width: 100%;
  height: 5vh;
  font-family: "Jost", sans-serif;
  font-weight: 800;
  font-size: 1vw;
  color: #EEE8DC;
  display: flex;
  align-items: end;
  justify-content: center;
  padding-bottom: 0.5vh;
  letter-spacing: 0.03vw;
  transition: all ease-in-out 0.2s;
}
body main #equipe #block_cardsEquipe .card_equipe .tipo_consulta {
  z-index: 2;
  width: 100%;
  height: 5vh;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 1vw;
  color: #EEE8DC;
  display: flex;
  align-items: start;
  justify-content: center;
  letter-spacing: 0.03vw;
  transition: all ease-in-out 0.2s;
}
body main #equipe #block_cardsEquipe .card_equipe:hover::before {
  opacity: 1;
}
body main #equipe #block_cardsEquipe .card_equipe:hover .doc {
  color: #E4754A;
}
body main #equipe #block_cardsEquipe .card_equipe:hover .estado {
  color: #EEE8DC;
}
body main #equipe #block_cardsEquipe .card_equipe:hover .estado img path, body main #equipe #block_cardsEquipe .card_equipe:hover .estado svg path {
  fill: #E4754A;
}
body main #equipe #block_cardsEquipe .card_equipe:hover .nome {
  color: #E4754A;
}
body main #equipe #block_cardsEquipe .card_equipe:hover .abordagem {
  color: #E4754A;
}
body main #equipe #block_cardsEquipe .card_equipe:hover .tipo_consulta {
  color: #E4754A;
}
body main #equipe #block_cardsEquipe::before {
  content: "";
  position: absolute;
  width: 101%;
  height: 25vh;
  background: linear-gradient(180deg, rgba(115, 100, 203, 0) 0%, rgb(115, 100, 203) 100%);
  bottom: -0.5vh;
  left: 0;
  z-index: 5;
}
body main #equipe .btn_equipe {
  background-color: #E4754A;
  margin-top: 8vh;
}
body main #local {
  height: 75vh;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5vh;
}
body main #local h2 {
  width: 100%;
  height: 10vh;
  font-family: "Aladin", system-ui;
  font-size: 3vw;
  color: #0C1E8E;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #local #Block_localTxt {
  width: 50%;
  height: 60vh;
  position: relative;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  color: #EEE8DC;
  padding: 0 7.5vw;
  padding-top: 6vh;
  line-height: 4.5vh;
}
body main #local #Block_localTxt::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 85%;
  border-top-left-radius: 2.5vw;
  border-top-right-radius: 7.5vw;
  border-bottom-left-radius: 7.5vw;
  border-bottom-right-radius: 2.5vw;
  background-color: #7364CB;
  z-index: -1;
}
body main #local #Block_localCarousel {
  width: 50%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3vh;
}
body main #local #Block_localCarousel #Local-carousel {
  width: 80%;
  height: 42vh;
  border-radius: 2vw;
  overflow: hidden;
}
body main #local #Block_localCarousel #Local-carousel .splide__track {
  width: 100%;
  height: 100%;
}
body main #local #Block_localCarousel #Local-carousel .splide__track .splide__list {
  width: 100%;
  height: 100%;
}
body main #local #Block_localCarousel #Local-carousel .splide__track .splide__list .splide__slide {
  width: 100%;
  height: 100%;
}
body main #local #Block_localCarousel #Local-carousel .splide__track .splide__list .splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel {
  margin-top: 1.5vh;
  width: 80%;
  height: 7vh;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__arrows .splide__arrow {
  background: none;
  width: 2vw;
  height: 2vw;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__arrows .splide__arrow svg {
  width: 100%;
  height: 100%;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__arrows .splide__arrow svg path {
  fill: #E4754A;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__arrows .splide__arrow--prev {
  left: -0.5vw;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__arrows .splide__arrow--next {
  right: -0.5vw;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__track {
  width: 87.5%;
  height: 100%;
  margin-left: 6.25%;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__track .splide__list {
  width: 100%;
  height: 100%;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__track .splide__list .splide__slide {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  border-radius: 0.5vw;
  overflow: hidden;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__track .splide__list .splide__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7364CB;
  opacity: 0.6;
  transition: ease-in-out all 0.2s;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__track .splide__list .splide__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main #local #Block_localCarousel #thumbnail-Local-carousel .splide__track .splide__list .is-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7364CB;
  opacity: 0;
}
body main #Depoimentos {
  display: none;
}
body main #Blog {
  position: relative;
  background-color: #7364CB;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5vh;
}
body main #Blog .divisor path {
  fill: #EEE8DC;
}
body main #Blog h2 {
  width: 100%;
  height: 10vh;
  font-family: "Aladin", system-ui;
  font-size: 3vw;
  color: #EEE8DC;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #Blog h3 {
  width: 100%;
  height: 5vh;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 1vw;
  font-weight: 300;
  color: #EEE8DC;
  padding: 0.5vh 9vw;
}
body main #Blog #block_cardsBlog {
  outline: 1px solid greenyellow;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body main #Blog #block_cardsBlog .card_blog {
  width: 28%;
  height: 90%;
  outline: 1px solid red;
}
body main #Blog .btn_blog {
  background-color: #E4754A;
  margin-top: 4vh;
}
body main #Edu {
  display: none;
}
body main #Contato {
  position: relative;
  padding-top: 5vh;
}
body main #Contato .divisor path {
  fill: #7364CB;
}
body footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7364CB;
}
body footer p {
  font-family: "Jost", sans-serif;
  font-weight: 800;
  font-size: 1vw;
  color: #EEE8DC;
}
body footer a {
  width: 7.5vw;
  height: 65%;
  margin-left: 0.75vw;
}
body footer a img, body footer a svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body footer a img path, body footer a svg path {
  fill: #EEE8DC;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/
/* MOBILE *//*# sourceMappingURL=style.css.map */